{
    "ENV_NETWORK_ID": 1030,
    "ENV_NETWORK_TYPE": "EVM",
    "ENV_CHAIN_TYPE": "MAINNET",
    "ENV_OPEN_API_HOST": "https://evmapi.confluxscan.net",
    "ENV_CORE_API_HOST": "https://api.confluxscan.net",
    "ENV_CORE_SCAN_HOST": "https://www.confluxscan.net",
    "ENV_RPC_SERVER": "https://evm-cfxbridge.confluxrpc.com",
    "ENV_WALLET_CONFIG": {
        "chainId": 1030,
        "chainName": "Conflux eSpace",
        "rpcUrls": [
            "https://evm.confluxrpc.com"
        ],
        "blockExplorerUrls": [
            "https://evm.confluxscan.org/"
        ],
        "nativeCurrency": {
            "name": "Conflux",
            "symbol": "CFX",
            "decimals": 18
        }
    },
    "ENV_LOGO": "https://evm.confluxscan.net/static/media/logo.8e57dceb.svg",
    "ENV_LOCALES_EN": {},
    "ENV_LOCALES_CN": {}
}